{% extends 'base.html' %} 
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 
{% block content %}
<div class="container">
    <div class="card-deck card-deck-flipcard">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="//cdn.shopify.com/s/files/1/1347/4217/products/image_58_1024x1024.png?v=1601640006"
              alt="2020"
              style="width: 480px; height: 480px"
              class="flipcard-img"
            />
          </div>
          <div class="flip-card-back">
            <h3 class="album-title">2020</h3>
            <h5 class="track-list">Tracking Listing:</h5>
            <ol class="track-list">
              <li>Limitless (Jon Bon Jovi, Billy Falcon, John Shanks)</li>
              <li>Do What You Can (Jon Bon Jovi)</li>
              <li>American Reckoning (Jon Bon Jovi)</li>
              <li>Beautiful Drug (Jon Bon Jovi, Billy Falcon, John Shanks)</li>
              <li>Story of Love (Jon Bon Jovi)</li>
              <li>Let It Rain (Jon Bon Jovi)</li>
              <li>Lower the Flag (Jon Bon Jovi)</li>
              <li>Blood in the Water (Jon Bon Jovi)</li>
              <li>Brothers in Arms (Jon Bon Jovi)</li>
              <li>Unbroken (Jon Bon Jovi)</li>
            </ol>
            <div class="album-btn text-center">
              <h4>
                <a
                  href="https://bonjovi.lnk.to/2020-TheAlbum"
                  target="_blank"
                  class="music-link btn-white btn-lg rounded-0 text-uppercase"
                  >Buy or stream</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="//cdn.shopify.com/s/files/1/1347/4217/products/bonjovi-thinfs_1024x1024.jpg?v=1600907711"
              alt="This house is not for sale"
              style="width: 480px; height: 480px"
              class="flipcard-img"
            />
          </div>
          <div class="flip-card-back">
            <h1 class="album-title">This house is not for sale</h1>
            <h4 class="track-list">Tracking Listing:</h4>
            <ol>
              <li>This House Is Not For Sale</li>
              <li>Living With The Ghost</li>
              <li>Knockout</li>
              <li>Labor Of Love</li>
              <li>Born Again Tomorrow</li>
              <li>Roller Coaster</li>
              <li>New Year’s Day</li>
              <li>The Devil’s In The Temple</li>
              <li>Scars On This Guitar</li>
            </ol>
            <div class="my-5">
              <h4>
                <a
                  href="https://bonjovi.lnk.to/2020-TheAlbum"
                  target="_blank"
                  class="music-link btn-white btn-lg rounded-0 text-uppercase"
                  >BUY or STREAM</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="https://cdn.shopify.com/s/files/1/1347/4217/products/BurningBridges2015-500x500_1024x1024.jpg?v=1572528908"
              alt="BurningBridges"
              style="width: 480px; height: 480px"
              class="flipcard-img"
            />
          </div>
          <div class="flip-card-back">
            <h1 class="album-title">Burning Bridges</h1>
            <h4 class="track-list">Tracking Listing:</h4>
            <ol>
              <li>A Teardrop to the Sea</li>
              <li>We Don't Run</li>
              <li>Saturday Night Gave Me Sunday Morning</li>
              <li>We All Fall Down</li>
              <li>Blind Love</li>
              <li>Who Would You Die For</li>
              <li>Fingerprints</li>
              <li>Life Is Beautiful</li>
              <li>I'm Your Man</li>
              <li>Burning Bridges</li>
              <li>Take Back the Night - Deluxe Track</li>
            </ol>
            <div class="my-5">
              <h4>
                <a
                  href="https://open.spotify.com/album/3AkIHz2xtJzBOGopjuVWxR"
                  target="_blank"
                  class="music-link btn-white btn-lg rounded-0 text-uppercase"
                  >BUY or STREAM</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="https://cdn.shopify.com/s/files/1/1347/4217/products/whataboutnow2013-500x500_1024x1024.png?v=1572528843"
              alt="What about now"
              style="width: 480px; height: 480px"
              class="flipcard-img"
            />
          </div>
          <div class="flip-card-back">
            <h1 class="album-title">What about now</h1>
            <h4 class="track-list">Tracking Listing:</h4>
            <ol>
              <li>Because We Can</li>
              <li>I'm with You</li>
              <li>What About Now</li>
              <li>Pictures of You</li>
              <li>Amen</li>
              <li>That's What the Water Made Me</li>
              <li>What's Left of Me</li>
              <li>Army of One</li>
              <li>Thick as Thieves</li>
              <li>Beautiful World</li>
              <li>Room at the End of the World</li>
              <li>The Fighter</li>
              <li>With These Two Hands - Deluxe Track</li>
            </ol>
            <div class="my-5">
              <h4>
                <a
                  href="https://music.apple.com/us/album/what-about-now/1443121653"
                  target="_blank"
                  class="music-link btn-white btn-lg rounded-0 text-uppercase"
                  >BUY or STREAM</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>
{% endblock %}
