{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 
{% block content %}
<div class="overlay"></div>
  <div class="container-fluid">
    <img
        class="tour-img"
        src="https://cdn.shopify.com/s/files/1/1347/4217/files/q4-2019-tour-banner.jpg?v=1571929947"
        alt="tourdate"
      />      
    <h4 class="cancelledtour text-center" >The 2020 tour has been cancelled</h4>
  </div>
{% endblock %}
