html {
  height: 100%;
}

body {
  background: url("https://cdncozycig.addons.business/10626/cig-cozy-gallery-3907jOq-20180408_Bon_Jovi_Newark_1299-xxl.jpeg?c=13") no-repeat center center fixed;
  background-size: cover;
  padding-top: 20%;
  height: calc(100vh - 164px);
  color: black;
  font-family: "Montserrat";
}

.fixed-top-desktop-only{
    background-color: #0e0906;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.1rem;
  width: 1.1rem;
  color: #fbf7ee;
}

i.fas.fa-chevron-left, i.fas.fa-plus, i.fas.fa-minus{
    color: black;
}

i.fas.fa-chevron-left:hover{
    color: #fbf7ee;
}

/* Search form */
.search-form {
    background-color: transparent;
    color: #fbf7ee;
}

input.form-control.border.border-black.rounded-0.search-form[type=text] {
  width: 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input.form-control.border.border-black.rounded-0.search-form[type=text]:focus {
  width: 100%;
}

.row.main-navbar {
    margin-top: 20px;
}

/* logo */
.nav-logo {
    text-align: center;
}

.logo-img {
  width: 46%;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* caroussel */
.carousel-caption.top-caption {
    margin-bottom: 550px;
}

.carousel-caption.left-caption {
    margin-bottom: 500px;
    margin-right: 400px;
}

/* cards articles */
.card.card-bj2020 {
    margin-top: 30px;
    border: none;
    width: 50%;
    margin-bottom: 20px;
}

.card.mb-3 {
    border: none;
    margin-top: 10px;
}

.card.cards-article {
    border: none;
}

.card.h-100.border-0 {
    background-color: #fbf7ee;
}

a.music-link.btn-white.btn-lg.rounded-0.text-uppercase {
    background-color: #a82a28;
    text-decoration: none;
    margin-left: 30%;
}

/* delivery banner */
div#delivery-banner {
  margin-bottom: 20px;
}

/* Table bag content */
.table-header {
    text-align: center;
}

h2.mb-4.shoppingbag-text {
    color: #e63b3b;
    margin-top: 20px;
}

.table-responsive.rounded {
    background-color: #fafafa;
}

/* Buttons */
.sort-btn {
    margin-left: 10px;
    background-color: transparent;
    margin-bottom: 10px;
}

.findout-button {
  background: #fbf7ee;
  color: black;
  min-width: 260px;
  text-decoration: none;
}

.btn-white {
  background: #fbf7ee;
  color: black;
  text-decoration: none;
}

.out-now-button:hover,
.out-now-button:active,
.out-now-button:focus,
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  background: #222;
  color: #fbf7ee;
}

/* overlay */
.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

/* arrows scroll-up */
.arrow-up-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.arrow-up-link {
  cursor: pointer;
}

.pdt-detail-row{
    background-color: #fbf7ee;
}
/* update/delete cursor in shopping bag */
.btt-link, .update-link, .remove-item {
cursor: pointer;
}


/* The flip card container */
.flip-card-row {
    margin-bottom: 20px;
}

.flip-card {
  background-color: #fbf7ee;
  width: 500px;
  height: 500px;
  border: none;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

h1.album-title {
    text-align: center;
}

h4.track-list {
    margin-left: 5px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #fbf7ee;
  color: black;
  transform: rotateY(180deg);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
    padding-top: 0;
  }

  .nav-logo{
      display: none;
  }
}
