<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=apparel" class="dropdown-item">Apparel</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=media" class="dropdown-item">Media</a>
                <a href="{% url 'products' %}?category=apparel,accessories,media" class="dropdown-item">Shop All</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="music-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Music
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="tours-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tours-link">
                <a href="" class="dropdown-item">Tickets</a>
                <a href="" class="dropdown-item">News</a>
            </div>
        </li>
    </ul>
</div>
